#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo{
  padding-top: 4%;
}
.userinput,.navba{
  padding: 2%;
}
.todolist{
  text-align: left;
}
.todostatus{
  display: -webkit-inline-box;
}
.todobody{
  padding: 7% !important;
  background-color: #ccf5d3;
}
.todobut{
  position: absolute;
  right:    5%;
  bottom:   8%;
}
.todobutpo{
margin: 2%;
}
button{
  width: 100px;
}
#todoname,#tododesc{
  border-color: #14ad89;
}
h1{
  color: #14ad89 !important;
}
.taskdelete{
  background-color: #d05e20 !important;
  border-color: #d05e20 !important;
}
select{
  background-color: #ff7f85 !important;
  color: white !important;
}
.selectcmp {
  background: #198754 !important ;
}